.title {
  margin-bottom: var(--mantine-spacing-xl);
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: max(var(--mantine-spacing-xl), 60px);
}

.avatarInput {
  display: none;
}

.label {
  margin-bottom: calc(0.5 * var(--mantine-spacing-xs));
}
