.navbar {
  /* change to grid on big screen, flex on small screen with xl spacing  */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: sticky;
  top: 0;
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
  background-color: rgba(var(--mantine-color-body-rgb), 0.8);
  backdrop-filter: blur(10px);
}

.homeButton {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  text-decoration: none;
  color: var(--mantine-color-text);
}

.search {
  width: clamp(500px, 100%, 800px);
}

.helper {
  font-family: var(--mantine-font-family-monospace);
  font-size: var(--mantine-font-size-sm);
  margin-top: 1.5px;
  color: var(--mantine-color-dimmed);
}

.helperDescription {
  font-size: var(--mantine-font-size-sm);
}

@media (max-width: 62em) {
  /* md */
  .navbar {
    display: flex;
    gap: var(--mantine-spacing-xl);
  }

  .search {
    width: auto;
    flex-grow: 1;
  }
}
