.header { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer {
  margin-top: var(--mantine-spacing-xs);

  & > * {
    width: 28px;
    height: 28px;
  }
}

.createAccount {
  text-align: center;
}

.paper {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.welcomeMessage {
  text-align: center;
}
