.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;

  > :nth-child(1) {
    padding: 30px;
  }
}

.withSidebar {
  display: grid;
  grid-template-columns: auto 1fr;

  > :nth-child(1) {
    padding: var(--mantine-spacing-md); /* đặt lại giá trị bằng padding trong UserSidebar */
  }

  > :nth-child(2) {
    padding: 30px;
  }
}

@media (max-width: 75em) {
  /* --mantine-breakpoint-lg */
  .app > * {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 62em) {
  /* --mantine-breakpoint-md */
  .app > * {
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
  }
}
