.page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.searchInput {
  flex: 1;
}

.tableContainer {
  height: 100px; /* height cố định để table có thể scroll */
  flex: 1 1 auto; /* vẫn grow dù có height cố định (idk how) */
  width: 100%;
}

.icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  color: var(--mantine-color-red-6);
}

/* Table */
.hiddenQuestion {
  filter: grayscale(100%);
  opacity: 0.8;
}
